.superior-sound-bg-color{
  background-color: #D34849;
  height: 90vh;
}
.front-row-seats-bg-color{
  background-color: #FFB43F;
  height: 90vh;
}
.reviews-bg-color{
  background-color: #21E1E9;
  height: 90vh;
}
.navbar{
  position: absolute;
  background: none;
  width: 100%;
  margin-top: 30px;;
}

/* --------- HERO -------------------------------------*/
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: inherit;
  border: #FFF solid 1px;
  /* margin-bottom: 100px; */
}
.carousel-indicators li:hover{
  background-color: #FFF;
}
.carousel-indicators li:active{
  background-color: #FFF;
}
.carousel-item{
    /* align-items: center; */
  /* align-self: center; */
  /* top: 50%; */
  /* text-align: center; */
  color: magenta;
}
.carousel-caption h3{
  font: normal normal bold 65px/79px Helvetica Neue;
  letter-spacing: 6.5px;
  color: #FFFFFF;
  opacity: 1;
      /* align-items: center; */
  /* align-self: center; */
  top: 50%;
  /* text-align: center; */
  color: magenta;
}
.carousel-caption p{
  text-align: center;
  font: normal normal normal 32px/44px Helvetica Neue;
  letter-spacing: 3.2px;
  color: #FFFFFF;
  opacity: 1;
}

/* --------- PERKS -------------------------------------*/
.perks-bg-color, .get-ec-now-bg-color{
  /* inherit background-color to change depending on which component renders perks */
  background-color: inherit;
  height: 90vh;
  color: #FFF; 
  margin: 10%;
}
.perks-section-title{
  font: bold 74px Helvetica Neue;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 50px;
}
.perks-col-title{
  text-align: left;
  padding-right: 10px;
  font: bold 51px Helvetica Neue;
}
.perks-col-text{
  font: 35px Helvetica Neue;
  color: #0B0B0B;
  text-align: left; 
  padding-right: 10px;
}
.perks-col-line-break{
  text-align: left;
  font-weight: bold;
}

/* --------- FOOTER -------------------------------------*/
.footer-bg-color{
  background-color: #5E33D1;
  /* height: 30vh; */
  color: #FFF;
  padding-top: 140px;
  padding-bottom: 40px;
}
.footer-logo{
  text-align: center;
  font: 48px/57px Helvetica Neue;
  letter-spacing: 4.8px;
  color: #FFFFFF;
  opacity: 1;
  margin: 50px;
}
.footer-text{
  font: normal normal normal 24px/29px Helvetica Neue;
  letter-spacing: 2.4px;
  color: #FFFFFF;
  opacity: 1;
  padding-left: 150px;

}
.footer-contact{
  text-align: left;
  font: normal normal normal 35px/41px Helvetica Neue;
  letter-spacing: 3.5px;
  color: #FFFFFF;
  opacity: 1;
  padding-left: 200px;
}
/* --------- PRICING -------------------------------------*/

.pricing-section-title{
  font: bold 74px Helvetica Neue;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 50px;
}
.pricing-section-description{
  text-align: left;
  font: normal normal normal 51px/80px Helvetica Neue;
  /* letter-spacing: 5.1px; */
  color: #FFFFFF;
  opacity: 1;
}
.pricing-list li{
  list-style-type: none;
  text-align: left;
  font: normal normal normal 47px/64px Helvetica Neue;
  /* letter-spacing: 4.7px; */
  color: #FFFFFF;
  opacity: 1;
}
.pricing-col-wrapper{
  text-align: left;
  padding-right: 10px;
  font: bold 51px Helvetica Neue;
}
.pricing-col-wrapper-basic{
  color: #D24848;
}
.pricing-col-wrapper-advanced{
  color: #FFB33F;
}
.pricing-col-wrapper-pro{
  color: #1FE1E9;
}
.pricing-type{
  text-align: left;
  font: normal normal bold 42px/51px Helvetica Neue;
  letter-spacing: 4.2px;
  opacity: 1;
  text-transform: uppercase;
  color:inherit;
}
.pricing-time{
  text-align: left;
  font: normal normal bold 47px/57px Helvetica Neue;
  letter-spacing: 4.7px;
  opacity: 1;
  text-transform: uppercase;
  color:inherit;
  
}
.pricing-cost{
  text-align: left;
  font: normal normal bold 134px/164px Helvetica Neue;
  letter-spacing: 13.4px;
  opacity: 1;
  color:inherit;
}
.badge-basic{
  padding: 20px 100px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #D24848;
  font-size: 24px;
}
.badge-advanced{
  padding: 20px 100px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #FFB33F;
  font-size: 24px;
}
.badge-pro{
  padding: 20px 100px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #1FE1E9;
  font-size: 24px;
  
}
.pricing-packages{
  margin-top: 200px;
  /* width: 100vw */
}
.pricing-page-bg-color{
  background-color: #191919;
  /* height: 120vh; */
  color: #FFF;
  padding: 5%;
}
.pricing-perks-bg-color{
  background-color: #D34848;
  /* height: 90vh; */
  word-break: break-word;

}
.pricing-packages{
  display: flexbox;
}

/* --------- SUPERIOR SOUND -------------------------------------*/
.ss-speaker-right{
  transform: scaleX(-1);
  height: 20%;
  margin-top: 80%;
}
.ss-speaker-left{  
  height: 20%;
  margin-top: 10%;
}
.ss-title{
  text-align: left;
  font: normal normal bold 64px Helvetica Neue;
  letter-spacing: 7.4px;
  color: #FFFFFF;
  opacity: 1;
  margin-top: 40%;
  width: max-content
}
.ss-text{
  text-align: left;
  font: normal normal normal 41px Helvetica Neue;
  letter-spacing: 5.1px;
  color: #0B0B0B;
  opacity: 1;
}
.ss-speaker-wrapper{
  height: 100%;
}

