.badge-dark{
  color: #FFF;
  background-image: linear-gradient(to right, #1FE1E9, #5E33D1, #D34848, #FFB33F);
  text-transform: uppercase;
  padding: 15px 50px;
}
.badge-light{
  color: inherit;
  background-color: #FFF;
  text-transform: uppercase;
  padding: 15px 50px;
  position: relative;
}
a .badge-light, a:visited .badge-light{
  color: inherit;
  /* text-decoration: none; */
}
.circle-speaker-btn{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 2px #fff;
  color: #FFF;
  text-transform: uppercase;
  font: normal normal bold 18px Helvetica Neue;
  letter-spacing: 2.7px;
  opacity: 1;
  position: absolute;
  top: 37%;
  left: 40%;
}
.badge-lg-dark{
  color: #FFF;
  background-image: linear-gradient(to right, #1FE1E9, #5E33D1, #D34848, #FFB33F);
  text-transform: uppercase;
  padding: 20px 50px;
  font: normal normal bold 20px Helvetica Neue;
  letter-spacing: 2.9px;
  color: #FFFFFF;
  opacity: 1;
}