.pricing-wrapper{
}
.pricing-bg-color{
  height: 120vh;
  background-color: #191919;
  color: #FFF;
  margin: 10%;
}
.pricing-perks-bg-color{
  background-color: #D34848;
}
.pricing-section-title{
  font: bold 74px Helvetica Neue;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 50px;
}
.pricing-section-description{
  text-align: left;
  font: normal normal normal 51px/80px Helvetica Neue;
  /* letter-spacing: 5.1px; */
  color: #FFFFFF;
  opacity: 1;
}
.pricing-list li{
  list-style-type: none;
  text-align: left;
  font: normal normal normal 47px/64px Helvetica Neue;
  letter-spacing: 4.7px;
  color: #FFFFFF;
  opacity: 1;
}
.pricing-col-wrapper{
  
  text-align: left;
  padding-right: 10px;
  font: bold 51px Helvetica Neue;
}
.pricing-col-wrapper-basic{
  color: #D24848;
}
.pricing-col-wrapper-advanced{

  color: #FFB33F;
}
.pricing-col-wrapper-pro{
  color: #1FE1E9;
}
.pricing-type{
  text-align: left;
  font: normal normal bold 42px/51px Helvetica Neue;
  letter-spacing: 4.2px;
  opacity: 1;
  text-transform: uppercase;
  color:inherit;
}
.pricing-time{
  text-align: left;
  font: normal normal bold 47px/57px Helvetica Neue;
  letter-spacing: 4.7px;
  opacity: 1;
  text-transform: uppercase;
  color:inherit;

}
.pricing-cost{
  text-align: left;
  font: normal normal bold 134px/164px Helvetica Neue;
  letter-spacing: 13.4px;
  opacity: 1;
  color:inherit;
}
/* .pricing-basic{
    color: #D24848;

} */
